header {
	background: #000;
    padding: 15px;
}
.navbar-light .navbar-nav .nav-link{
	color: #ffffffe6;
	text-align: center;
	margin-top:  30px;
	padding:10px 30px;
	
}
#navLinks{
    justify-content: flex-end;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #008DC2;
}
.brand-logo-area img {
	width: 60%;
}
.hero-section{
    background: url(images/B1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
}
.hero-right.text-center h2 {
	font-size: 36px;
	text-transform: uppercase;
	color: blue;
	font-weight: 700;
	display: block;
}
.hero-right.text-center p{
color: yellow;
font-size: 25px;
font-weight: bold;
}
.hero-right.text-center a {
	text-decoration: none;
	background: #e32a2a;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	font-weight: 600;
}
.cta-box.text-center {
	background: #008DC2;
	padding: 20px ;
	color: #fff;
    margin-top: -100px;
    margin-bottom: 100px;
    border-radius: 1px;
    
    }
.cta-box.text-center a {
	display: inline-block;
	border: 2px solid #FFF;
	padding: 6px 16px;
	border-radius: 6px;
	color: #0e0d0d;
	text-decoration: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.cta-area-wrapper{
    background: url(images/min3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250vh;
}
.cta-area-content-wrapper {
	background-color: rgba(0,0,0,0.5);
}

.single-service-wrapper {
	text-align: center;
	background: #FFF;
	padding: 35px;
	border-radius: 5px;

}
.single{
margin-top:810px;
}

.txt{
    margin-top:50px;
}
.icon{
width:60px;
height: 60px;

}
.section-title.text-center h4 {
	color: #FFF;
	font-size: 28px;
	font-weight: 700;
}
.text-center.default-btn {
	width: 150px;
	margin: 0 auto;
	padding: 6px 10px;
	color: #FFF;
	margin-top: 20px;
    background: #008DC2;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.container.box {
	border: 1px solid #5e5b5b;
	padding: 30px 40px;
    border-radius: 10px;
}
.subscribe-area{
    background-color: #000000;
}
.subscribe-area-left h2 span {
	color: #FFF;
	display: block;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 5px;
}
.subscribe-area-left h2 {
	color: red;
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 40px;
}

.subscribe-box input {
	width: 65%;
	padding: 8px 13px;
	border: 0;
	border-radius: 3px;
}
.subscribe-box button {
	padding: 8px 40px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 700;
    background-color: #008DC2;
}
.subscribe-right ul {
	margin: 0;
	padding: 0;
	list-style: none;

}
.subscribe-right ul li {
	display: flex;
	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 12px;
	text-decoration: none;
}
.subscribe-right ul li a{
text-decoration: none;
color: #FFE714;
}
.subscribe-right ul li img {
	margin-right: 10px;
	width: 30px;
}
@media only screen and (max-width: 600px) {
    header{
        background-color: #000000e6;
    }
    .brand-logo-area img {
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff;
    }
    .hero-right.text-center h2 {
        font-size: 26px;
    }
    .cta-box.text-center { 
        padding: 40px 10px;
    }
    .single-service-wrapper {
        margin-bottom: 10px;
    }
    .subscribe-area-left h2 { 
        font-size: 24px;
       
    }
    .subscribe-area-left h2 span {
        font-size: 14px;
       
    }
    .subscribe-box input {
        width: 100%;
        margin-bottom: 12px;
    }
    .subscribe-right ul li {
        font-size: 14px;
    }
    .subscribe-right ul li img {
        width: 18px;
    }
    .subscribe-right {
        margin-top: 22px;
    }
  }